* {
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(135deg, #6e45e2, #88d3ce);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-wrapper1 {
    background-color: #000000bc;
    width: 80vw;
    height: 80vh;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    align-content: left;  
    border-radius: 20px;
}

.app-wrapper2 {
    background-color: #fff;
    width: 50%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.app-wrapper3 {
    background-image: url("./components/images/logan-isbell-F5b7_OD4IMA-unsplash.jpg");
    background-size: cover;
    background-position: 0%;
    width: 50%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.app-wrapper4 {
    background: linear-gradient(135deg, #6e45e2, #88d3ce);
    opacity: 0.3;
    width: 50%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}



.input {
    height: 32px;
    font-size: 20px;
    outline: none;
    width: 100%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 2px solid #000000;
    margin-bottom: 10px;
}

.title {
    color: #6e45e2;
    text-align: center;
    margin: 80px 0px 40px 0px;
}

.fullName .email .passward {
    margin: 20px;
    color: #969292;
    font-size: 16px;
}

.submit{
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 25px;
    color: #ffffff;
    padding: 10px 60px;
    background: linear-gradient(135deg, #6e45e2, #88d3ce);
    box-shadow: rgb(0, 0, 0, 0.3) 0px 19px 38px,
    rgb(0, 0, 0, 0.22) 0px 15px 12px;
    margin: auto;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
  }

  .passward{
    margin-bottom: 40px;
  }

  button:active{
    transition: translateY(2px);
  }